@model A_Very_Simple_HIS.ViewModels.VisitViewModel

@{
    ViewData["Title"] = "Details";
}

<section class="full-height row d-flex justify-content-center align-items-center p-5">
    <div class="container p-5">
        <div>
            <h4>Visit Details</h4>
            <hr />
            <dl class="row gy-2">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PatientName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DoctorName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.VisitDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Notes)
                </dd>
            </dl>
        </div>
        <div>
            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
            <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
        </div>

    </div>
</section>
