@model IEnumerable<A_Very_Simple_HIS.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<section class="full-height">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4 ">
                <h1 class="m-0">Patients</h1>
                <div class="align-self-end mb-2">
                    <a class="btn-brand bg-secondary text-light" asp-action="Create">Register Patient</a>
                </div>
            </div>
            <table id="tableData" class="table">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Date of birth</th>
                        <th>Gender</th>
                        <th>Insurance</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>

</section>

@section Scripts{
    <script src="~/js/Patients.js"></script>
}
