@{
    ViewData["Title"] = "Home Page";
}

<section id="home" class="full-height d-flex flex-column justify-content-center align-items-center px-5">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-10 mx-auto">
                <h1 class="display-4 text-center mt-3">
                    Hospital Information System
                </h1>
                <div class="text-center">
                    <div class="text-center mt-3">
                        <div class="icon-box">
                            <i class="las la-hospital-alt"></i>
                        </div>
                    </div>
                </div> 

                <div class="row mt-5">
                    <div class="col-md-4" >
                        <div class="p-4 bg-base rounded-3 shadow-effect h-100">
                            <div class="row">
                                <div class="col-6 iconbox-card rounded-3 ">
                                    <i class="las la-user-injured"></i>
                                </div>
                                <div class="col-6 align-items-center">
                                    <h4 class="mb-3 mt-2">
                                        Patients
                                    </h4>
                                    <p>
                                        Patient information
                                        and records
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="p-4 bg-base rounded-3 shadow-effect h-100">
                            <div class="row">
                                <div class="col-6 iconbox-card rounded-3 ">
                                    <i class="las la-user-nurse"></i>
                                </div>
                                <div class="col-6 align-items-center">
                                    <h4 class="mb-3 mt-2">
                                        Doctors
                                    </h4>
                                    <p>
                                        Doctor profiles and
                                        schedules
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="p-4 bg-base rounded-3 shadow-effect h-100">
                            <div class="row">
                                <div class="col-6 iconbox-card rounded-3 ">
                                    <i class="las la-calendar-check"></i>
                                </div>
                                <div class="col-6 align-items-center">
                                    <h4 class="mb-3 mt-2">
                                        Appointments
                                    </h4>
                                    <p>
                                        Appointment schedulin
                                        and management
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>