@model A_Very_Simple_HIS.ViewModels.DoctorViewModel

@{
    ViewData["Title"] = "Create";
}

<section class="full-height row d-flex justify-content-center align-items-center p-5">
    <div class="container p-5">
        <h4>Register a Doctor</h4>
        <hr />
        <div class="row gy-4">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Specialty" class="control-label"></label>
                        <input asp-for="Specialty" class="form-control" />
                        <span asp-validation-for="Specialty" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" value="Save" class="btn btn-outline-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a class="btn btn-outline-primary mt-2" asp-action="Index">Back to List</a>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
