html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {

  margin-bottom: 60px;
}

footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

/*.icon-box {

    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}*/


.full-height {
    min-height: 100vh;
    height: 100%;
}
.iconbox-card {
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) {
    .icon-box {
        font-size: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


